html {
    background-color: powderblue;
}

header {
    padding: 2rem;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}

section {
    margin-bottom: 1rem;
}

.column {
    padding: .25rem;
}

label {
    margin: 0!important;
}

.control {
    display: flex!important;
    justify-content: flex-end!important;
}

.red {
    background-color: tomato;
}