html {
    background-color: powderblue;
}

header {
    padding: 1.5rem;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}

section {
    margin: 1rem;
}

table {
    margin-top: 0.25rem!important;
}

label {
    margin: 0!important;
}

.subtitle {
    font-weight: bold;
    margin: 0!important;
    padding: .25rem;
}

.column {
    padding: .25rem;
}

.control {
    display: flex!important;
    justify-content: flex-end!important;
}

.red {
    background-color: tomato;
}